/*____________ GENERIC STYLES ____________ */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700');
html,
body,
p,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0px;
}
a:hover {
    text-decoration: none;
}
hr {
    border-color: #00395c;
    margin: 50px auto;
}
span {
    font-weight: 700;
    margin: 0px!important;
    font-size: 16px;
    line-height: 26px;
}
h6 {
    font-weight: 700;
    margin-top: 5px;
    color: #00395c;
}
h5 {
    color: #104679;
    font-weight: 400;
    font-size: 18px;
}
h4 {
    color: #0d3862;
    font-weight: 700;
    font-size: 20px;
    padding-top: 13px;
}
h3 {
    color: #104679;
    font-size: 28px;
    margin: 0px;
    font-weight: 300;
}
h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}
p {
    line-height: 26px;
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}
/*____________ NAVIGATION BAR STYLES ____________ */

.navbar-default {
    background-color: #0d3862;
    margin: 0px;
    border-radius: 0px;
    border: none;
    padding: 0px;
}
.navbar-default img {
    margin-right: 30px;
}
.navbar-right li {
    background-color: #ffc20e;
    min-height: 50px;
    padding: 0px 20px;
    margin-right: 50px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    transition: all .5s;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #0d3862;
    cursor: pointer;
    background-color: #ffc20e;
}
@media only screen and (max-width: 1199px) {
    .navbar-right li {
        display: none;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }
    .navbar-nav>li>a {
        padding-right: 11px;
        padding-left: 11px;
    }
}/* Media End */

@media only screen and (max-width: 767px) {
    .navbar-right li {
        display: block;
    }
    .navbar-default img {
        margin-left: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
    .navbar-nav>li>a {
        padding: 10px 15px;
    }
}
/* Media End */
/* This is the styling for the burger menu icon */

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffc20e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: 1px solid #ffc20e;
    outline-style: none;
}
.navbar-default .navbar-toggle {
    border: none;
    transition: all .5s;
}
/* This is the styling the dropdown menus */

.dropdown-menu {
    background-color: #0d3862;
    text-transform: uppercase;
}
.dropdown-menu>li>a {
    color: #fff;
    padding: 8px 20px 3px 20px;
    font-weight: 300!important;
}
.dropdown-menu>li>a:hover {
    color: #0d3862;
    text-decoration: none;
    background-color: #ffc20e;
}
/* This is the styling the collapsed dropdown menus */

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    transition: all .5s;
}
/* This sets the drop down hover  */

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #ffc20e;
    }
}
/* Media End */

@media only screen and (min-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #0d3862;
    }
}
/* Media End */

.navbar-default .navbar-nav>.open>a:focus {
    background-color: #ffc20e;
}
/*____________ RANGE HERO IMAGE STYLE ____________ */

.distHero {
    background-image: url("../images/distHeroBG.jpg");
    background-color: #6e386a;
}
.essHero {
    background-image: url("../images/essHeroBG.jpg");
    background-color: #a6cde4;
}
.rangeHeroImage {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
}
.rangeHeroImage img:nth-child(1) {
    margin: 120px auto 30px auto;
}
/* This has been moved so the background size can cover on pro **
****************************************************************/

.proHero {
    background-image: url("../images/proHeroBG.jpg");
    background-color: #8f9497;
    background-position: right;
    background-size: cover;
}
/***************************************************************/

.rangeHeroImage h1 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 65px;
}
.rangeHeroImage p {
    color: #fff;
    width: 40%;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
}
@media only screen and (max-width: 1095px) {
    .rangeHeroImage {
        background-size: cover;
    }
}
/* Media End */
/* This is the medium sized backgrounds */

@media only screen and (max-width: 1155px) {
    .rangeHeroImage h1 {
        font-size: 50px;
    }
    .rangeHeroImage p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 5px;
    }
    .distHero {
        background-image: url("../images/distHeroBG_md.jpg");
    }
    .proHero {
        background-image: url("../images/proHeroBG.jpg");
    }
    .essHero {
        background-image: url("../images/essHeroBG_md.jpg");
    }
}
/* Media End */
/* This is the opacity backgrounds */

@media only screen and (max-width: 830px) {
    .distHero {
        background-image: url("../images/distHeroBG_OP.jpg");
    }
    .proHero {
        background-image: url("../images/proHeroBG_OP.jpg");
    }
    .essHero {
        background-image: url("../images/essHeroBG_OP.jpg");
    }
    .rangeHeroImage p {
        width: 80%;
    }
}
/* Media End */
/* This lowers the font size because professional was too big */

@media only screen and (max-width: 445px) {
    .rangeHeroImage h1 {
        font-size: 40px;
    }
} /* Media End */
/* This stops the p width looking odd when the screen breaks */

@media only screen and (max-width: 365px) {
    .rangeHeroImage h1 {
        font-size: 35px;
    }
} /* Media End */

@media only screen and (max-width: 830px) {
    .rangeHeroImage p {
        width: 50%!important;
    }
}
/* Media End */
/* This undo's the top media when it goes past the break point */

@media only screen and (max-width: 500px) {
    .rangeHeroImage p {
        width: 80%!important;
    }
}
/* Media End */
/*____________ GENERIC HERO IMAGE STYLE ____________ */

.genHeroImage {
    height: 200px;
    background-image: url("../images/genHeroBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
}
.genHeroImage img {
    margin-top: 80px;
}
.genHeroImage img:nth-child(2) {
    margin-top: 80px;
    display: none;
}
@media only screen and (max-width: 991px) {
    .genHeroImage img:nth-child(1) {
        display: none;
    }
    .genHeroImage img:nth-child(2) {
        display: block;
        margin-top: 50px;
    }
    .genHeroImage {
        height: 120px;
    } } /* Media End */

    @media screen and (max-width: 365px) {
      .genHeroImage img:nth-child(2) {
            width: 100%;
        } /* This fixs the tag line getting cut off for phone screens */
    } /* Media End */

/* This removes the image in the header before it hits the text */

@media only screen and (max-width: 550px) {
    .genHeroImage {
        background-image: url("../images/deepHeroBGPlain.jpg");
    }
}
/* Media End */
/*____________ DEEP HERO IMAGE STYLE ____________ */

.deepHeroImage {
    height: 500px;
    background-image: url("../images/deepHeroBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
}
.deepHeroImage img {
    display: block;
}
.deepHeroImage img:nth-child(1) {
    margin-top: 100px;
}
/* This is the large logo */

.deepHeroImage img:nth-child(2) {
    margin-top: 30px;
    display: none;
}
/* This is the medium logo */

.deepHeroImage img:nth-child(3) {
    margin-top: 30px;
}
/* This is the tag line img */

.deepHeroImage img:nth-child(4) {
    margin-top: 15px;
    display: none;
}
/* This is the medium tag line img */

.deepHeroImage img:nth-child(5) {
    margin-top: 15px;
    display: none;
}
/* This is the small tag line img */

.deepHeroImage h1 {
    color: #fff;
    margin-top: 25px;
}
@media only screen and (max-width: 991px) {
    .deepHeroImage {
        margin-bottom: 30px;
    }
}
/* Media End */
/*____________ This is the media for banner breakdown ____________ */

@media only screen and (max-width: 1200px) {
    .deepHeroImage img:nth-child(1) {
        display: none;
    }
    /* This is the medium logo */
    
    .deepHeroImage img:nth-child(2) {
        display: block;
    }
    /* This is the medium logo */
    
    .deepHeroImage img:nth-child(3) {
        display: none;
    }
    /* This is the tag line img */
    
    .deepHeroImage img:nth-child(4) {
        display: block;
    }
    /* This is the medium tag line img */
    
    .deepHeroImage {
        height: 200px;
    }
}
/* Media End */

@media only screen and (max-width: 991px) {
    .deepHeroImage h1 {
        font-size: 30px;
    }
}
/* This removes the image in the header before it hits the text */

@media only screen and (max-width: 730px) {
    .deepHeroImage {
        background-image: url("../images/deepHeroBGPlain.jpg")
    }
}
/*____________ This is the media for banenr breakdown ____________ */

@media only screen and (max-width: 374px) {
    .deepHeroImage img:nth-child(4) {
        display: none;
    }
    /* This is the medium tag line img */
    
    .deepHeroImage img:nth-child(5) {
        display: block;
    }
    /* This is the small tag line img */
}
/* Media End */
/*____________ HOME PAGE BODY STYLE ____________ */
/* 3 Ranges Menu Styles */

.rangesMenu {
    margin-bottom: 50px;
}
.rangesMenu .col-md-4 {
    color: #fff;
    min-height: 500px;
    padding: 0px;
    border: 5px solid #fff;
}
.rangesMenu .col-md-4:hover {
    cursor: pointer;
}
.rangesMenu .col-md-4 img {
    display: block;
}
.rangesMenu a:nth-child(1) .col-md-4 {
    background-color: #61376b;
}
.rangesMenu a:nth-child(2) .col-md-4 {
    background-color: #40ae49!important;
}
.rangesMenu a:nth-child(3) .col-md-4 {
    background-color: #7ab0e0;
}
.rangesMenu .col-md-4 img:nth-child(1) {
    margin: 30px 0px 40px 0px;
}
.rangesMenu .col-md-4 img:nth-child(2) {
    margin: 0px 0px 25px 30px;
}
.rangesMenu .col-md-4 h2,
.rangesMenu .col-md-4 p {
    margin: 0px 30px 10px 30px;
}
.rangesMenu .col-md-4 p {
    font-size: 16px;
    min-height: 100px;
}
@media only screen and (max-width: 1199px) {
    .rangesMenu .col-md-4 h2 {
        font-size: 32px;
    }
    /* This drops the font size when the columns compress */
}
/* Media End */

@media only screen and (max-width: 991px) {
    .rangesMenu .col-md-4 h2 {
        font-size: 35px;
    } /* This puts the font size back up when in mobile view */
    
    .rangesMenu a:nth-child(1) .col-md-4 {
        background-image: url("../images/distHeroBG_OP.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .rangesMenu a:nth-child(2) .col-md-4 {
        background-image: url("../images/proHeroBG_OP.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .rangesMenu a:nth-child(3) .col-md-4 {
        background-image: url("../images/essHeroBG_OP.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .rangesMenu .col-md-4 p {
        width: 60%;
    }
} /* Media End */

@media screen and (max-width: 426px) {
    .rangesMenu .col-md-4 p {
        line-height: 20px;
    } /* Brings the range description line height in when breaking */
} /* Media End */


/**** Why Choose us Styles */

.WCU {
    background-color: #f1f1f1;
    padding: 50px 0px 80px 0px;
}
.WCU .col-md-12 {
    text-align: center;
    margin-bottom: 50px;
}
.WCU .col-md-3 {
    text-align: center;
}
.WCU .col-md-3 img {
    margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
    .WCU .col-md-3 {
        margin: 0px auto 50px auto;
        width: 90%;
    }
}


/*____________ WHO WE ARE PAGE BODY STYLE ____________ */

/* This adds the margin space after each row */
.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive {
    margin-bottom: 0px;
}

/* This floats the row one image */
.rowOne .col-md-6:nth-child(2) img {
    float: right;
}

/* This makes the gap between the text and image in rows 3 & 5 */
@media only screen and (min-width: 991px) {
    .rowThree img,
    .rowFive img {
        float: right;
    } } /* Media End */

/* This makes the Row One image float left on colapse */
@media only screen and (max-width: 991px) {
    .rowOne .col-md-6:nth-child(2) img {
        float: left;
    } } /* Media End */

/* This adjusts the image size under 500px */
@media only screen and (max-width: 500px) {
    .whoWeAreContainer img {
        width: 100%;
        height: auto;
    } } /* Media End */

/* This adjusts the margins for the rows/images on collapse */
@media only screen and (max-width: 991px) {
    .whoWeAreContainer .row img {
        margin-top: 50px;
    }
    .rowOne,
    .rowTwo,
    .rowThree,
    .rowFour,
    .rowFive {
        margin-bottom: 0px;
    } } /* Media End */


/*____________ FAQ BODY STYLE ____________ */
/****** Section One ******/

.FAQ_secOne .col-md-12 {
    margin-bottom: 40px;
}
.FAQ_secOne img[src="images/3YearBadge.png"],
.FAQ_secOne img[src="images/1YearBadge.png"] {
    margin: 5px 0px 40px 0px;
}
.FAQ_secOne .col-md-9 {
    margin-bottom: 20px;
}

.FAQ_secOne h6 {
    transition: all .5s;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.FAQ_secOne h6:hover {
    color: #00AAFF;
    cursor: pointer;
}

.FAQ_secOne h4 {
    content: " ";
    background-color: #ffc20e;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.FAQ_secOne h4:before {
    content: " ";
    border: 12px solid;
    border-right-color: #ffc20e;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    height: 20px;
    position: absolute;
    left: -18px;
    top:1px;
}

.FAQ_secOne_P {
    margin-bottom: 15px;
}


/****** Section Two ******/

.FAQ_secTwo .row {
    margin-bottom: 35px;
}
.FAQ_secTwo .row:nth-child(1) {
    margin-top: 20px;
}
.FAQ_secTwo .col-md-10 {
    padding-top: 25px;
}
/****** Section Three ******/

.FAQ_secThree {
    background-color: #ffc20e;
    min-height: 100px;
    text-align: center;
    padding: 20px 0px;
    margin: 40px auto 70px auto;
}
.FAQ_secThree .col-md-6:nth-child(1) {
    text-align: left;
    padding: 10px 0px 0px 50px;
}
/****** Section Four and Three A ******/


.FAQ_secFour .row, .FAQ_secThreeA .row {
    margin-bottom: 30px;
}
.FAQ_secFour .row:nth-last-child(1),.FAQ_secThreeA .row:nth-last-child(1) {
    margin-bottom: 0px;
}
/****** Section Five ******/

.FAQ_secFive h3 {
    line-height: 35px;
}
.FAQ_secFive .col-md-8 {
    margin-bottom: 20px;
}
.FAQ_secFive .col-md-12 {
    margin: 20px auto;
}
.FAQ_secFive .row:nth-last-child(1) {
    margin-bottom: 50px;
}
.FAQWhiteImage {
    text-align: center;
}
/* This removes the image in row 9 and formats row 3 when screen breaks */

@media only screen and (max-width: 991px) {
    .FAQWhiteImage {
        display: none;
    }
    .FAQ_secThree {
        text-align: left;
    }
    .FAQ_secThree p {
        width: 90%;
        margin-bottom: 20px;
    }
    .FAQ_secThree img {
        margin-left: 15px;
    }
    .FAQ_secThreeA img {
        margin-bottom: 25px;
    }
}
/* Media End */
/* This centers the image when the screen breaks in row 3 */

@media only screen and (max-width: 417px) {
    .FAQ_secThree img {
        width: 90%;
        height: auto;
    }
}
/* Media End */


/*____________ CONTRACT PAGE BODY STYLE ____________ */
.contractsContent .col-md-4 img {
    width: 100%;
}

.contractsContent .col-md-8 p{
    width: 90%;
}

@media only screen and (max-width: 991px) {
    .contractsContent img {
        margin-top: 30px;
        width: 100%;
        height: auto;
    }
    .contractsContent .col-md-8 p{
        width: 100%;
    }
}
/* Media End */

/*____________ TERMS & CONDITIONS PAGE BODY STYLE ____________ */
.warrantylink:hover {
    cursor: pointer;
}
.termsContainer h5, .careAndMaintenanceContainer p {
    margin-top: 30px;
}


.careAndMaintenanceContainer p:nth-of-type(1) {
    margin-top:12px; 
}

/* Table styles */
table {
    display: block;
    margin:5px 15px 0px 0px;
}

table:nth-of-type(1) {
    margin-bottom: 20px;
}

td  {
    border: 3px solid #fff;
}

.tableH3 {
    font-size: 22px!important;
    color: #000;
    margin-bottom: 10px;
    display: inline-block;
}
    
.greyTd{
    min-width: 335px;
    background-color: #e6e7e8;
    padding: 10px;
}

.blueTd{
    min-width: 200px;
    background-color: #b4d0ed;
    padding: 10px;
}
/* End table styles */

@media screen and (max-width: 1199px) {
        table:nth-of-type(1) {
            margin-bottom: 20px;
        } /* Adds some space inbetween the tables when broken down */
    } /* Media End */

@media only screen and (min-width: 600px) {
    .tableSmall {
        display: none;
    } /* Takes large table out */
} /* Media End */

@media only screen and (max-width: 600px) {
    .tableSmall {
        display: inline-block;
    }
    .tableLarge {
        display: none;
    } /* Takes large table out */
} /* Media End */

@media screen and (max-width: 350px) {
        .tableH3 {
            font-size: 20px!important;
        }
        .greyTd {
            min-width: 275px!important;
        } /* This helps fit the table data to phone screens */
    } /* Media End */

/*____________ RANGE PAGE STYLE ____________ */
.warrantyTextLink {
    transition: all .5s;
    font-weight: 700;
}
.warrantyTextLink:hover {
    color: #0d3862!important;
}

.rangeContent .col-md-6 img{
    width: 100%;
    height: auto;
} /* This sets with width for the product images only */

.rangeContent h3 {
    line-height: 40px;
}
.rangeContent h5 {
    font-weight: 300;
    margin-top: 20px;
    margin-left: 20px;
}
.rangeContent .col-md-4 img,
.rangeContent .col-md-4 p {
    margin-left: 20px;
}
.rangeContent .col-md-4 img:nth-last-child(1) {
    margin-top: 20px;
}
.rangeContent .row .col-md-4 img {
    margin-top: 20px;
}
@media (max-width: 991px) {
    .rangeContent .row:nth-last-child(1) img {
        margin-top: 50px;
    }
}
/* Media End */
/***** Different styles for ranges ******/
/* Distinction */

.essContent a,.proContent a,.distContent a {
    color: #000;
} /* This takes the color out the the links for warranty */

.distContent h3,
.distContent h5,
.distContent hr {
    color: #61376b;
    border-color: #61376b;
}

.distContent .warrantyTextLink {
    color: #61376b;
}
/* Professional */

.proContent h3,
.proContent h5,
.proContent hr {
    color: #40ae49;
    border-color: #40ae49;
}

.proContent .warrantyTextLink {
    color: #40ae49;
}

/* Essential */

.essContent h3,
.essContent h5,
.essContent hr {
    color: #7ab0e0;
    border-color: #7ab0e0;
}
.essContent h3 {
    width: 97%;
}

.essContent .warrantyTextLink {
    color: #7ab0e0;
}
/*____________ FOOTER STYLE ____________ */

.footerWrapper {
    background-color: #0d3862;
    min-height: 280px;
    margin-top: 80px;
}
.footerIndex {
    background-color: #0d3862;
    min-height: 280px;
    margin-top: 0px;
}
.footerWrapper > .container {
    margin-top: 50px;
}
.footerWrapper > .container .col-md-3 {
    border-right: solid 1px #fff;
    height: 200px;
}
.footerWrapper > .container .col-md-3:nth-child(4) {
    border: none;
}
.footerWrapper p {
    color: #fff;
    margin-top: 10px;
    line-height: 20px;
}
.footerWrapper h3 {
    color: #ffc20e;
    margin-bottom: 10px;
    font-size: 20px;
}
.footerWrapper ul,
.footerWrapper a {
    transition: all .5s;
    color: #fff;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.footerWrapper ul li {
    margin: 5px 0px;
}
.footerWrapper a:hover {
    cursor: pointer;
    color: #ffc20e;
}
/**** Sub Footer Styles ****/

#subFooter {
    height: 40px;
    background-color: #fff;
    padding-top: 3px;
}
#subFooter .col-md-6:nth-child(2) p {
    float: right;
}
/**** Footer Media Query ****/

#subFooter p {
    margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .footerWrapper > .container .col-md-3 {
        border: none;
    }
    .footerWrapper > .container .col-md-3 {
        height: auto;
        margin: 30px 0px;
    }
    #subFooter .col-md-6:nth-child(2) p {
        float: none;
    }
    #subFooter .col-md-6 {
        text-align: center;
    } 
} /* Media End */


